<% include ../partials/header %> <!--file is nested inside homes foldedr go back 1 folder. it like cd ..-->



<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Welcome to YalpCamp!</h1>
    <p>View our homes for all over the USA</p>
    
    <p>
        <a class="btn btn-primary btn-lg" href="/homes/new">Add New Home</a>
    </p>
    </div>
</header>
	
		<form action="/homes" method="GET" class="form-inline">
            		<div class="form-group">
            			<input type="text" name="search" placeholder="City search..." class="form-control">
						<!-- <select name="search">
  <option>Bedrooms</option>
  <option value="3 Beds">3 Beds</option>
  <option value="5 Beds">5 Beds</option>
  <option value="6 Beds">6 Beds</option>
  <option value="8 Beds">8 Beds</option>
</select>
						
						<select name="search">
  <option>Price</option>
  <option value="$30k">$30k</option>
  <option value="$50k">$50k</option>
  <option value="$80k">$80k</option>
  <option value="$100k">$100k</option>
</select> -->

						
						
            			<input type="submit" value="Search" class="btn btn-default">
            		</div>
            	</form><br>
            
            	<div>
         <div class="col-md-12">
             <% if(noMatch !== null) { %>
             <h3><%= noMatch %></h3>
            
             <% } %>
         </div>
            
	


<!-- <div class="row text-center"  style="display:flex; flex-wrap:wrap;"> -->
	<div class="row text-center">
   
        <% homes.forEach(function(homes) { %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">  <!-- margin-bottom mb-4 -->
        <div class="card" >
  <img class="card-img-top" src="<%= homes.image %>" alt="<%= homes.name %>">
  <div class="card-body">
    <h5 class="card-title"><%= homes.name %></h5>
    <a href="/homes/<%=homes._id %>" class="btn btn-primary">More Info</a>
  </div>
</div>	
       
    </div>
    
<% } ); %>
    </div>
</div>









<% include ../partials/footer %>










































